{{comments}}
{{declaration}} {
{{#sections}}
  //---------------------------------------------------
  // {{name}}
  //---------------------------------------------------

  {{{source}}}
{{/sections}}
}
