{{{generatedHeader}}}
{{{header}}}

library {{libraryName}};
{{#standardLibraries}}

//---------------------------------------------------------------------
// Standard libraries
//---------------------------------------------------------------------

{{#libraries}}
import '{{{.}}}';
{{/libraries}}
{{/standardLibraries}}
{{#imports}}

//---------------------------------------------------------------------
// Imports
//---------------------------------------------------------------------

{{#packages}}
import '{{{.}}}';
{{/packages}}
{{#relative}}
import '{{{.}}}';
{{/relative}}
{{/imports}}
{{#exports}}

//---------------------------------------------------------------------
// Exports
//---------------------------------------------------------------------

{{#packages}}
export '{{{.}}}';
{{/packages}}
{{#relative}}
export '{{{.}}}';
{{/relative}}
{{/exports}}
{{#sections}}

//---------------------------------------------------------------------
// {{name}}
//---------------------------------------------------------------------

{{{source}}}
{{/sections}}
